
.login-overlay {
    z-index: 1;
    padding: 20px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.map-overlay {
    position: absolute;
    width: 280px;
    top: 0;
    left: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 2px;
    margin-right: 5px;
    z-index: 1;
    height: 80%
}

.map-overlay .map-overlay-inner {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
    z-index: 1;
    height: 100%;
}

.user-section {
    position: relative;
    z-index: 5;
    padding: 15px 0;
    margin-bottom: 15px;
    background: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.60);
}

.user-section .user-image {
    margin-right: 10px;
}

.user-section .user-name {
    font-weight: bold;
}

.activities-section {
    position: relative;
    top: -70px;
    padding-top: 60px;
    height: 100%;
    overflow: auto;
}

.activities-section h2 {
    font-weight: bold;
}

.activities-section .activities-list {
}

.activities-section .activities-list:hover {
    cursor: pointer;
}

.activity.loaded {
    font-weight: bold;
}
